* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 5rem;
  font-weight: bold;
  padding: 3rem;
}

.coming-soon {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://i.picsum.photos/id/866/2400/1200.jpg?hmac=-VlUwNTUYUvY1uqnO4j03Hghz7Wu7YC7v_dABTzemtk");
  background-size: 100%;
  background-repeat: no-repeat;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 40%;
}

.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}

.waiting {
  height: 50vh;
}